html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-size: cover;

}

.hidden {
    display: none;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.flexitem {
    text-align: center;
    color: white;
}

.flexitem > input:first-child {
    border: none;
    background: transparent;
    text-decoration: underline;
    color: white;
    width: 18%;
    height: 100%;
}

.flexitem > input::placeholder {
    color: white;
    font-size: 20px;
    text-align: center;
}

#clock {
    margin: 0;
    font-size: 5em;
}

#quote {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

#weather {
    position: absolute;
    top: 10%;
    right: 10%;
}

#quote , #weather {
    color: white;
    font-size: 20px;
}

ul {
    list-style: none;
}