html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-size: cover;

}

.hidden {
    display: none;
}

.flexbox {
    display: flex;
    flex-direction: column;
}

.flexitem {
    text-align: center;
    color: white;
}

#clock {
    margin: 0;
    font-size: 70px;
}

#quote {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

#weather {
    position: absolute;
    top: 10%;
    right: 10%;
}

#quote , #weather {
    color: white;
    font-size: 20px;
}